.card{
    background-size: cover;
    color: #fff;
    overflow: hidden;
    box-shadow: 10px 10px 30px #000;
    &.dom{
        background: url(../../../assets/images/domestic.jpg) center;
        border: solid 1px;
        border-left: 2px;
        border-top: none;
        border-bottom-width: 5px;
        border-color: rgba($color:orange, $alpha: 0.7);
    }
    &.int{
        background: url(../../../assets/images/international.jpg) center;
        border: solid 1px;
        border-top: none;
        border-left: 2px;
        border-bottom-width: 5px;
        border-color: rgba($color:#3498db, $alpha: 0.7);
    }
    .card-back{
        position: absolute;
        top:0px;
        left:0px;
        width:100%;
        height:100%;
        background-color: rgba($color: #000000, $alpha: 0.7);
        z-index:1;
    }
    .card-front{
        z-index:2;
        .card-header{
            color: burlywood;
            font-weight: 900;
            font-size:30px;
            text-transform: capitalize;
            .title2{
                color: #fff;
            }
        }
        .card-body{
            .card-text{
                .title{
                    color: burlywood;
                }
            }
        }
        .card-title{
            font-weight: 700;
        }
    }
    .card-cover{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width:100%;
        height: 0;
        &.dom{
            background-color: rgba($color: orange, $alpha: 0.7);
        }
        &.int{
            background-color: rgba($color: #3498db, $alpha: 0.7);
        }
        z-index:2;
        transition:.5s ease;
        overflow: hidden;
        .btn-group{
            left: calc(50% - 66px);
            top: calc(50% - 19px);
            .btn{
                border-radius: 50%;
                margin-right:5px;
            }
        }
    }
    transition:all 1s ;
    -webkit-transition:all 0.5s ;
    -o-transition:all 0.5s ;
    -moz-transition:all 0.5s ;
    &:hover{
        .card-cover{
            height: 100%;
        }
        background-size: 150%;
    }
}