<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
          <div class="contain">
              <h4 class="text-white">STUDENT ONBOARDING APP</h4>
              <span class="text-muted">One stop to onboard your students</span>
          </div>
      </div>
    </div>
  </div>
<nav class="navbar navbar-expand-lg navbar-light" #headerRef style="background-color: #3498db;">
  <div class="contain">
      <a class="navbar-brand"><em class="fa fa-graduation-cap fa-2x"></em></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" *ngFor="let item of menuItems" [class.active]="isActive(item)">
            <a class="nav-link" [routerLink]="[item.link]" (click)="selectedItem = item">{{item.name}} <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
      <div class="message-box"[class.show]="showMessage">
        <div class="alert alert-success" role="alert">
          <p><em class="fa fa-bell"></em> {{messageDesc}}</p>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="showMessage = false">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    </div>
      <div class="right-options">
        <em class="fa fa-user fa-2x"></em>
        <span class="seperator">|</span>
        <em class="fa fa-sign-out fa-2x" (click)="showLogoutModal = true"></em>
      </div>
  </div>
</nav>

<app-popup-modal [title]="'Sign Out'" [showModal]="showLogoutModal" [bodyTemplate]="logoutModal"
  [footerTemplate]="footerTemp" (modalClosed)="showLogoutModal = false">
  <ng-template #logoutModal>
    <div class="heading">
      <div class="head-container">
        <em class="fa fa-sign-out fa-3x"></em>
        <h2>Do you want to Log out from the Application ?</h2>
      </div>
    </div>
  </ng-template>
  <ng-template #footerTemp>
      <button type="button" class="btn btn-secondary" (click)="showLogoutModal = false">No</button>
      <button type="button" class="btn btn-danger" (click)="logout()">Yes</button>
  </ng-template>
</app-popup-modal>